html, body {
    margin: 0;
    padding: 0;
    display: flex;

  }
  h1 {
    margin: auto;
  }
  
  
  @media (prefers-color-scheme: dark) {
    input {
      color: #ffffff;
      background-color: #0f0f0fdd;
    }
  }
  
  @media (prefers-color-scheme: light) {
    input {
      color: #0f0f0f;
      background-color: #ffffffdd;
    }
  }